{% extends 'AppBundle::layout.html.twig' %}
{% macro curly(contents) %}
    {{ '{{' ~ contents ~ '}}' }}
{% endmacro %}
{% import _self as ng %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="site-index" ng-controller="DefaultController as app" ng-init="">
        content
    </div>
{% endblock %}