{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="site-index">
        <h3>Rating by country</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Country</td>
                <td>Users</td>
            </tr>
            </thead>
            {% for country in countries %}
                <tr>
                    <td><a href="{{ path('api_get_books_ranking_per_country', {'country': country.Country}) }}">{{ country.Country }}</a></td>
                    <td>{{ country.Users }}</td>
                </tr>
            {% else %}
                {{ 'book.list.empty'|trans({}, 'AppBundle') }}
            {% endfor %}
        </table>
    </div>
{% endblock %}