/src/AppBundle/Resources/data/sql.md
/src/AppBundle/Resources/data/BX-Users.csv
/src/AppBundle/Resources/data/BX-Books.csv
/src/AppBundle/Resources/data/BX-Book-Ratings.csv
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/.idea